.new-content__wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;

  display: flex;
  flex-flow: column;

  .new-content__title {
    text-align: center;
    font-size: rem(17);
    height: rem(40);
    line-height: rem(40);
    padding: 0 rem(15);
    background: #fff7d1;
    color: #FDCE03;
    border-bottom: 1px solid #e5e5e5;

    button {
      background: none;
      border: 0;
      padding: 0;
      margin: 0;
    }

    .title-left {
      float: left;
    }

    .title-right {
      float: right;
    }

    button {
      font-size: rem(14);
      height: rem(30);
      line-height: rem(30);
      text-align: center;
      padding: 0 rem(10);
      color: #FDCE03;
    }
  }

  .new-content__text {
    overflow-y: auto;
    flex: 1;

    &.textarea__wrap {
      display: flex;

      textarea {
        flex: 1;
      }
    }

    textarea {
      box-sizing: border-box;
      resize: none;
      border: none;
      overflow-y: auto;
      overflow-x: hidden;
    }

    #textarea_title {
      font-weight: bold;
    }
  }

  .new-content__bottom {
    text-align: center;
    font-size: rem(17);
    height: rem(50);
    line-height: rem(50);
    padding: 0 rem(15);
    background: #fff7d1;
    color: #FDCE03;
    border-top: 1px solid #e5e5e5;

    &.new-content__bottom_ave {
      ul {
        li {
          flex: 1;
          margin-right: 0;
          text-align: center;
          justify-content: center;
        }
      }
    }

    ul {
      display: flex;

      li {
        display: flex;
        margin-right: rem(15);

        &:last-child {
          margin-right: 0;
        }

        i {
          margin-right: rem(5);
        }

        span {
          font-size: rem(16);
        }
      }
    }
  }

}
