.new-content__wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  background: #F4F2FA;

  &.new-content__dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 rem(10) rem(30) rgba(black, .1);
  }

  .new-content__title {
    text-align: center;
    font-size: rem(16);
    height: rem(60);
    line-height: rem(60);
    padding: 0 rem(15);
    background: #fff;
    color: #504A61;
    box-shadow: 0 rem(10) rem(30) rgba(black, .1);
    border-radius: 0 0 rem(20) rem(20);
    z-index: 1;

    .title-left {
      float: left;
    }

    .title-right {
      float: right;
    }

    button {
      background: none;
      border: 0;
      margin: 0;
      font-size: rem(14);
      height: rem(30);
      line-height: rem(30);
      text-align: center;
      padding: 0 rem(10);
      color: #504A61;
    }
  }

  .new-content__text {
    overflow-y: auto;
    flex: 1;

    &.textarea__wrap {
      display: flex;

      textarea {
        flex: 1;
      }
    }

    textarea {
      box-sizing: border-box;
      resize: none;
      border: none;
      overflow-y: auto;
      overflow-x: hidden;
      background: none;
    }

    #textarea_title {
      font-weight: bold;
    }
  }

  .new-content__bottom {
    text-align: center;
    font-size: rem(17);
    height: rem(60);
    line-height: rem(60);
    padding: 0 rem(15);
    background: #fff;
    color: #504A61;
    box-shadow: 0 rem(-10) rem(30) rgba(black, .1);
    border-radius: rem(20) rem(20) 0 0;
    z-index: 1;

    &.new-content__bottom_ave {
      ul {
        li {
          flex: 1;
          margin-right: 0;
          text-align: center;
          justify-content: center;
        }
      }
    }

    ul {
      display: flex;

      li {
        display: flex;
        margin-right: rem(15);

        &:last-child {
          margin-right: 0;
        }

        i {
          margin-right: rem(5);
        }

        span {
          font-size: rem(14);
        }
      }
    }
  }

}
